.MobileMenu {
  color: var(--color-black);
}

.MenuIcon {
  @include icon-black-hover-effect;
  cursor: pointer;
  inset-inline-start: 0;

  &_isActive {
    fill: var(--primary-base-color);
  }
}

.MobileMenu__MenuWrapper {
  display: none;
}

.MobileMenu__MenuWrapper--isOpen {
  display: block;
}

.MobileMenu__MenuOverlay {
  position: fixed;
  inset: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.MobileMenu__Menu {
  background-color: white;
  position: fixed;
  inset: 0;
  width: 300px;
  height: 100%;
  z-index: 1000;
  overflow-y: auto;
}

.MobileMenu__CloseButton {
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}
