.CookiePopup {
  background-color: #333;
  opacity: 0.95;
  padding: 20px;
  margin: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;

  &-Content {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-align: start;

    &::after {
      content: "\00B7";
      color: var(--color-white);
      margin-inline-start: 0;
    }
  }

  &-Link {
    font-size: 16px;
    color: #ff6600;
    text-decoration: underline;
  }

  &-CTA {
    background-color: #ff6600;
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    margin-inline-start: auto;

    &:hover {
      background-color: #ff3300;
    }
  }

  @media screen and (max-width: 768px) {
    // Adjusting responsivness for smaller screens (mobile)
    width: 100%;
    &-Content {
      font-size: 18px;
    }
    &-CTA {
      font-size: 20px;
      margin-inline-start: 0; // margin reset when in mobile mode
    }
  }
}
