.CookiePopup {
  // position: fixed;
  inset-block-end: 0; // position at the bottom of the screen
  background-color: #333;
  opacity: 0.95;
  padding: 20px;
  margin: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;

  &-Content {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-align: start;

    &::after {
      content: "\00B7";
      color: var(--color-white);
      margin-inline-start: 0;
    }
  }

  &-Link {
    font-size: 16px;
    color: #f26323;
    text-decoration: underline;
  }

  &-CTA {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-background);
    color: var(--button-color);
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    margin-inline-start: auto;

    border: var(--button-border-width) solid var(--button-border);

    &:hover {
      background-color: var(--button-hover-background);
      color: var(--button-hover-color);
      border: var(--button-border-width) solid var(--button-hover-border);
      transition: background-color 0.25s ease-out, color 0.25s ease-out,
        border 0.25s ease-out;
    }
  }

  @media screen and (max-width: 768px) {
    // adjusting responsiveness for smaller screens (mobile)
    width: 100%;
    &-Content {
      font-size: 18px;
    }
    &-CTA {
      font-size: 20px;
      margin-inline-start: 0; // margin reset when in mobile mode
    }
  }
}
